@import "./overwrite-variables.scss";

input[type=checkbox],
.input[type=checkbox] {
  background: $checkbox-background-color;
  background-position: center;
  background-size: 12px;
  background-repeat: no-repeat;
  border-color: $checkbox-border-color;
  border-radius: $checkbox-border-radius;
  border-style: $checkbox-border-style;
  border-width: $checkbox-border-width;
  height: $checkbox-size;
  padding: 0;
  transition: 200ms;
  width: $checkbox-size;
  -webkit-appearance: none;

  &:checked {
    background: url("undefault/svg/check.svg"), $checkbox-focus-color;
    background-position: center;
    background-size: 12px;
    background-repeat: no-repeat;
    border-color: $checkbox-focus-color;

    &:hover {
      background: url("undefault/svg/check.svg"), $checkbox-focus-color;
      background-position: center;
      background-size: 12px;
      background-repeat: no-repeat;
      border-color: $checkbox-focus-color;
    }

    &:disabled {
      background: url("undefault/svg/check-disabled.svg"), $checkbox-background-color-disabled;
      background-position: center;
      background-size: 12px;
      background-repeat: no-repeat;
      border-color: $checkbox-border-color-disabled;
    }
  }

  &:hover {
    background-color: $checkbox-background-color-hover;
    border-color: $checkbox-border-color-hover;
  }

  &:focus {
    border-color: $checkbox-focus-color;
    box-shadow: $checkbox-focus-shadow;
    outline: none;
  }

  &:disabled {
    border-color: $checkbox-border-color-disabled;
    background-color: $checkbox-background-color-disabled;

    &:hover {
      border-color: $checkbox-border-color-disabled;
      background-color: $checkbox-background-color-disabled;  
    }
  }
}