@import "./overwrite-variables.scss";

input,
.input {
  background-color: $input-background-color;
  border-width: $input-border-width;
  border-color: $input-border-color;
  border-style: $input-border-style;
  border-radius: $input-border-radius;
  box-sizing: border-box;
  color: $input-text-color;
  font-size: $form-element-font-size;
  font-family: $form-element-font-family;
  margin: 0;
  padding: $input-padding;
  transition-duration: 200ms;

  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }

  &:hover {
    border-color: $input-border-color-hover;
    color: $input-text-color-hover;
  }

  &:focus {
    outline: none;
    border-color: $input-focus-color;
    position: relative;
    box-shadow: $input-focus-shadow;
  }

  &:disabled {
    background-color: $input-background-color-disabled;
    color: $input-text-color-disabled;

    &:hover {
      border-color: $input-border-color;
    }
  }
}