@import "./variables.scss";

//select,
.select {
  background: $select-arrow-url, $form-element-background-color;
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 12px;
  border: $form-element-border-width $form-element-border-style $form-element-border-color;
  border-radius: $form-element-border-radius;
  box-sizing: border-box;
  color: $form-element-text-color;
  display: inline-block;
  font-size: $form-element-font-size;
  font-family: $form-element-font-family;
  height: $form-element-height;
  margin: 0;
  padding: $form-element-padding;
  padding-right: 32px;
  position: relative;
  transition-duration: 200ms;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-appearance: none;


  // placeholder disabled color
  // only works if select is required and option is disabled and has a value
  &:required:invalid {
    color: $form-element-placeholder-color;
  }

  &:hover {
    border-color: $form-element-border-color-hover;
  }

  &:focus {
    outline: none;
    border-color: $form-element-focus-color;
    overflow: visible;
    box-shadow: $form-element-focus-shadow;
  }

  &:disabled {
    background-color: $form-element-background-color-disabled;
    color: $form-element-text-color-disabled;
    background-image: $select-arrow-url-disabled;

    &:hover {
      border-color: $form-element-border-color;
    }
  }
}

// after script
.select-wrapper {
  display: inline-block;
  height: $form-element-height;
  position: relative;

  & .select {
    width: 100%;

    &--option-disabled {
      color: $form-element-placeholder-color;
    }

    &--opened {
      border-bottom: $form-element-border-width $form-element-border-style $form-element-background-color;
      border-radius: $form-element-border-radius $form-element-border-radius 0 0;
      position: relative;

      &:hover {
        border-color: $form-element-border-color;
        border-bottom: $form-element-border-width $form-element-border-style $form-element-background-color;
      }

      &:focus {
        border-color: $form-element-focus-color;
        border-bottom: $form-element-border-width $form-element-border-style $form-element-background-color;
        box-shadow: none;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: -1;
          box-shadow: $select-focus-shadow;
        }
      }
    }

    &--disabled {
      background-color: $form-element-background-color-disabled;
      color: $form-element-text-color-disabled;
      background-image: $select-arrow-url-disabled;

      &:hover {
        border-color: $form-element-border-color;
      }
    }
  }
}

.options {
  z-index: 1;
  border: $form-element-border-width $form-element-border-style $form-element-border-color;
  border-top: 0;
  border-radius: 0 0 $form-element-border-radius $form-element-border-radius;
  background-color: $form-element-background-color;

  &--closed {
    visibility: hidden;
  }
}

.option {
  font-size: $form-element-font-size;
  font-family: $form-element-font-family;
  color: $form-element-text-color;
  height: $form-element-height;
  padding: $form-element-padding;
  padding-right: 32px;
  overflow: hidden;
  box-sizing: border-box;
  white-space: nowrap;
  text-overflow: ellipsis;

  &:last-child {
    border-radius: 0 0 $form-element-border-radius $form-element-border-radius;
  }

  &:hover {
    background-color: $e;
  }

  &--disabled {
    color: $form-element-placeholder-color;
    &:hover {
      background-color: $form-element-background-color;
    }
  }
}
