@import "./overwrite-variables.scss";

select,
.select {
  background: $select-arrow-url, $select-background-color;
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 12px;
  border: $select-border-width $select-border-style $select-border-color;
  border-radius: $select-border-radius;
  box-sizing: border-box;
  color: $select-text-color;
  display: inline-block;
  font-size: $form-element-font-size;
  font-family: $form-element-font-family;
  height: $select-height;
  margin: 0;
  padding: $select-padding;
  padding-right: 32px;
  position: relative;
  transition-duration: 200ms;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  // placeholder disabled color
  // only works if select is required and option is disabled and has a value
  &:required:invalid {
    color: $select-placeholder-color;
  }

  &:hover {
    background-color: $select-background-color-hover;
    border-color: $select-border-color-hover;
    color: $select-text-color-hover;
  }

  &:focus {
    border-color: $select-focus-color;
    box-shadow: $select-focus-shadow;
    outline: none;
  }

  &:disabled {
    background-color: $select-background-color-disabled;
    background-image: $select-arrow-url-disabled;
    color: $select-text-color-disabled;

    &:hover {
      border-color: $select-border-color-disabled;
    }
  }
}

// after script
.select-wrapper {
  display: inline-block;
  height: $select-height;
  position: relative;

  & .select {
    width: 100%;

    &--option-disabled {
      color: $select-placeholder-color;
    }

    &--opened {
      border-bottom: $select-border-width $select-border-style $select-background-color;
      border-radius: $select-border-radius $select-border-radius 0 0;
      position: relative;

      &:hover {
        border-color: $select-border-color;
        border-bottom: $select-border-width $select-border-style $select-background-color;
      }

      &:focus {
        border-color: $select-focus-color;
        border-bottom: $select-border-width $select-border-style $select-background-color;
        box-shadow: none;

        &::after {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 0;
          z-index: -1;
          box-shadow: $select-focus-shadow;
        }
      }
    }

    &--disabled {
      background-color: $select-background-color-disabled;
      color: $select-text-color-disabled;
      background-image: $select-arrow-url-disabled;

      &:hover {
        border-color: $select-border-color-disabled;
      }
    }
  }
}

.options {
  background-color: $select-background-color;
  border: $select-border-width $select-border-style $select-border-color;
  border-top: 0;
  border-radius: 0 0 $select-border-radius $select-border-radius;
  position: relative;
  z-index: 1;

  &--closed {
    visibility: hidden;
  }
}

.option {
  box-sizing: border-box;
  color: $select-text-color;
  font-size: $form-element-font-size;
  font-family: $form-element-font-family;
  height: $select-height;
  padding: $select-padding;
  padding-right: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:last-child {
    border-radius: 0 0 $select-border-radius $select-border-radius;
  }

  &:hover {
    background-color: $e;
  }

  &--disabled {
    color: $select-placeholder-color;
    
    &:hover {
      background-color: $select-background-color;
    }
  }
}
