@import "./overwrite-variables.scss";

// Regular
input {
  background-color: $input-background-color;
  border-width: $input-border-width;
  border-color: $input-border-color;
  border-style: $input-border-style;
  border-radius: $input-border-radius;
  box-sizing: border-box;
  color: $input-text-color;
  font-size: $form-element-font-size;
  font-family: $form-element-font-family;
  height: $input-height;
  padding: $input-padding;
  transition-duration: 200ms;

  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }

  &:hover {
    background-color: $input-background-color-hover;
    border-color: $input-border-color-hover;
    color: $input-text-color-hover;
  }

  &:focus {
    border-color: $input-focus-color;
    box-shadow: $input-focus-shadow;
    outline: none;
  }

  &:disabled {
    background-color: $input-background-color-disabled;
    border-color: $input-border-color-disabled;
    color: $input-text-color-disabled;

    &:hover {
      background-color: $input-background-color-disabled;
      border-color: $input-border-color-disabled;
      color: $input-text-color-disabled;
    }
  }
}

// Datalist
input[list] {
  background: $input-arrow-url, $input-background-color;
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 12px;
  padding-right: 32px;

  &::-webkit-calendar-picker-indicator {
    display: none;
  }

  &:disabled {
    background: $input-arrow-url-disabled, $input-background-color-disabled;
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 12px;
    border-color: $input-border-color-disabled;
    color: $input-text-color-disabled;
  }
}

// File input
input[type="file"] {
  padding: 0;

  &::-webkit-file-upload-button {
    position: absolute;
    background-color: $button-background-color;
    color: $button-text-color;
    font-size: $undefault-font-size;
    font-family: $undefault-font-family;
    height: $input-height;
    padding: $button-padding;
    transform: translate(-1px, -1px);
    border: none;
    border-radius: $button-border-radius 0 0 $button-border-radius;
  }

  &:hover::-webkit-file-upload-button {
    background-color: $button-background-color-hover;
    border-color: $button-border-color-hover;
    color: $button-text-color-hover;
    cursor: pointer;
  }

  &:focus::-webkit-file-upload-button {
    border-color: $button-focus-color;
    box-shadow: $button-focus-shadow;
    outline: none;
  }

  &:disabled::-webkit-file-upload-button {
    background-color: $button-background-color-disabled;
    border-color: $button-border-color-disabled;
    color: $button-text-color-disabled;
  }

  &:disabled:hover::-webkit-file-upload-button {
    border-color: $button-border-color-disabled;
    color: $button-text-color-disabled;
    cursor: default;
  }
}
