<div>
  <h1>Checkboxes</h1>
  <div class="form-row">
    <input type="checkbox" />

    <input type="checkbox" checked />

    <input type="checkbox" disabled />

    <input type="checkbox" disabled checked />
  </div>

  <h1>Radio buttons</h1>
  <div class="form-row">
    <input name="radios" type="radio" />

    <input name="radios" type="radio"/>

    <input name="radios" type="radio" disabled/>

    <input name="radios2" type="radio" checked disabled/>
  </div>


  <h1>Icons</h1>
  <div class="form-row">
    <i class="select-icon"></i>
    <i class="check-icon"></i>
    <i class="resizer-icon"></i>
  </div>
</div>