<div>
  <h1>Regular</h1>
  <p>The styling for regular text inputs. This styling applies to type number, email and password too.</p>
  <div class="form-row">
    <input class="u-input" type="text"/>

    <input class="u-input" type="text" placeholder="Placeholder" />

    <input class="u-input" type="text" value="Value" />

    <input class="u-input" type="text" disabled value="Disabled" />
 
    <input class="u-input" type="number" value="123" />

    <input class="u-input" type="email" value="email@test.com" />

    <input class="u-input" type="password" value="Value" />
  </div>

  <h1>Input for files</h1>
  <div class="form-row">
    <input class="u-input" type="file" />

    <input class="u-input" type="file" disabled />
  </div>

  <div class="form-row">
    <label class="u-input" for="file-input">
      Choose...
      <input id="file-input" type="file" />
    </label>

    <label class="u-input" for="file-input">
      Choose...
      <input id="file-input" type="file" disable/>
    </label>
  </div>

  <form oninput="x.value=parseInt(a.value)+parseInt(b.value)">
    <p>Input and output elements</p>
    <div class="form-row">
      <input class="u-input" name="a" value="1">

      <input class="u-input" name="b" value="2">

      <output name="x" for="a b"></output>
    </div>
  </form>

  <p>Input with datalist</p>
  <div class="form-row">
    <input class="u-input" list="datalist" />

    <input class="u-input" list="datalist" placeholder="Placeholder" />

    <input class="u-input" list="datalist" value="One" />

    <input class="u-input" list="datalist" disabled value="Disabled" />

    <datalist id="datalist">
      <option value="One">One</option>
      <option value="Two">Two</option>
      <option value="Three">Three</option>
    </datalist>
  </div>
</div>