<div>
  <label>Select</label>
  <div class="form-row">
    <select>
    </select>

    <select required>
      <option value="" disabled>Placeholder</option>
      <option value="One">One</option>
      <option value="Two">Two</option>
      <option value="Three">Three</option>
    </select>

    <select>
      <option selected>One</option>
      <option>Two</option>
      <option>Three</option>
    </select>

    <select disabled>
      <option selected>Disabled</option>
      <option>Two</option>
      <option>Three</option>
    </select>
  </div>
</div>