@import "../styles.scss";

.navbar {
  display: flex;
  &__item {
    display: flex;
  }
}

.select-icon {
  background-image: $selectIcon;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  width: 24px;
  min-height: 24px;
}

.check-icon {
  background-color: #555;
  background-image: $checkIcon;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  size: 12px;
  border: none;
  width: 24px;
  min-height: 24px;
}

.resizer-icon {
  background-image: $resizerIcon;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
  size: 12px;
  border: none;
  width: 24px;
  min-height: 24px;
}
