<div class="container">
  <nav class="navbar">
    <div class="navbar__item">
      <a class="navbar__link" routerLink="/inputs">Inputs</a>
    </div>

    <div class="navbar__item">
      <a class="navbar__link" routerLink="/selects">Selects</a>
    </div>

    <div class="navbar__item">
      <a class="navbar__link" routerLink="/textareas">Textareas</a>
    </div>

    <div class="navbar__item">
      <a class="navbar__link" routerLink="/checkboxes">Checkboxes</a>
    </div>

    <div class="navbar__item">
      <a class="navbar__link" routerLink="/buttons">Buttons</a>
    </div>
  </nav>
  
  <router-outlet></router-outlet>
 
  <label>Radio buttons</label>
  <div class="form-row">
    <input name="radios" type="radio" />

    <input name="radios" type="radio"/>

    <input name="radios" type="radio" disabled/>

    <input name="radios2" type="radio" checked disabled/>
  </div>


  <label>Icons</label>
  <div class="form-row">
    <i class="select-icon"></i>
    <i class="check-icon"></i>
    <i class="resizer-icon"></i>
  </div>


</div>